# Taller N°1

In [1]:
import pandas as pd 
import numpy as np
#from surprise import Reader
#from surprise import Dataset
#from surprise.model_selection import train_test_split
#from surprise import KNNBasic
#from surprise import accuracy
from seaborn import load_dataset
from math import log

In [2]:
user_inf = pd.read_csv('data/lastfm-dataset-1K/userid-profile.tsv',sep='\t')
print(user_inf.shape)
user_inf.head(10)

(992, 5)

           #id gender   age             country    registered
0  user_000001      m   NaN               Japan  Aug 13, 2006
1  user_000002      f   NaN                Peru  Feb 24, 2006
2  user_000003      m  22.0       United States  Oct 30, 2005
3  user_000004      f   NaN                 NaN  Apr 26, 2006
4  user_000005      m   NaN            Bulgaria  Jun 29, 2006
5  user_000006    NaN  24.0  Russian Federation  May 18, 2006
6  user_000007      f   NaN       United States  Jan 22, 2006
7  user_000008      m  23.0            Slovakia  Sep 28, 2006
8  user_000009      f  19.0       United States  Jan 13, 2007
9  user_000010      m  19.0              Poland   May 4, 2006

In [3]:
df2 = pd.read_csv('data/lastfm-dataset-1K/userid-timestamp-artid-artname-traid-traname.tsv',
                  sep='\t',
                 #error_bad_lines = False,
                 names = ['UserID','TimeStamp','ArtID','ArtName','TraId','TraName'])
print(df2.shape)
df2.head(10)

(19098862, 6)

,UserID,TimeStamp,ArtID,ArtName,TraId,TraName
0,user_000001,2009-05-04T23:08:57Z,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Deep Dish,NaN,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007
1,user_000001,2009-05-04T13:54:10Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Composition 0919 (Live_2009_4_15)
2,user_000001,2009-05-04T13:52:04Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc2 (Live_2009_4_15)
3,user_000001,2009-05-04T13:42:52Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Hibari (Live_2009_4_15)
4,user_000001,2009-05-04T13:42:11Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc1 (Live_2009_4_15)
5,user_000001,2009-05-04T13:38:31Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,To Stanford (Live_2009_4_15)
6,user_000001,2009-05-04T13:33:28Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Improvisation (Live_2009_4_15)
7,user_000001,2009-05-04T13:23:45Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Glacier (Live_2009_4_15)
8,user_000001,2009-05-04T13:19:22Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Parolibre (Live_2009_4_15)
9,user_000001,2009-05-04T13:13:38Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Bibo No Aozora (Live_2009_4_15)

# Se extrae la data en la cual se presentan qué usuarios han escuchado qué pistas, de qué artista.

In [18]:
ConteoPista=df2.groupby(['UserID','TraName']).size().reset_index(name = 'Conteo').sort_values(by = 'Conteo', ascending = False)
# ConteoPista ['Nartistas']=df2.groupby(['UserID']).count()

print(ConteoPista.head())
# Usuario  mas popular

            UserID                                 TraName  Conteo
32769  user_000008                               Heartless    2119
33005  user_000008                See You In My Nightmares    2069
32999  user_000008                            Say You Will    2065
33130  user_000008  Welcome To Heartbreak (Feat. Kid Cudi)    2059
32861  user_000008                           Love Lockdown    2059

# Usuario  mas popular

In [21]:
A=df2[df2['UserID'] == 'user_000008'].groupby(['UserID','TraName']).size().reset_index(name = 'Conteo').sort_values(by = 'Conteo', ascending = False)
display (A.head(20))
print(A.shape)

          UserID                                          TraName  Conteo
209  user_000008                                        Heartless    2119
445  user_000008                         See You In My Nightmares    2069
439  user_000008                                     Say You Will    2065
570  user_000008           Welcome To Heartbreak (Feat. Kid Cudi)    2059
301  user_000008                                    Love Lockdown    2059
90   user_000008                                   Coldest Winter    2052
382  user_000008                      Paranoid (Feat. Mr. Hudson)    2051
27   user_000008                      Amazing (Feat. Young Jeezy)    2049
388  user_000008  Pinocchio Story (Freestyle Live From Singapore)    2041
41   user_000008                                         Bad News    2026
428  user_000008                                          Robocop    1893
482  user_000008                                    Street Lights    1865
6    user_000008                                  56 Bars (Intro)     341
293  user_000008                   Live Your Life (Feat. Rihanna)     340
416  user_000008                               Ready For Whatever     338
349  user_000008                                   No Matter What     337
328  user_000008         My Life Your Entertainment (Feat. Usher)     337
112  user_000008          Dead And Gone (Feat. Justin Timberlake)     337
236  user_000008                                         I'M Illy     336
364  user_000008    On Top Of The World (Feat. Ludacris & B.O.B.)     334

(608, 3)

# Se extrae la data en la cual se presentan las pistas que los usuarios han escogido

In [20]:
Conteogusto=df2.groupby(['TraName','UserID']).size().reset_index(name = 'Conteo').sort_values(by = 'Conteo', ascending = False)
display (Conteogusto.head(20))
print(Conteogusto.shape)
# Pista mas popular
Conteogusto2=Conteogusto.groupby(['TraName']).size().reset_index(name = 'Cuantos_usuarios').sort_values(by = 'Cuantos_usuarios', ascending = False)
display (Conteogusto2.head(20))
print(Conteogusto2.shape)

                                                 TraName       UserID  Conteo
1517198                                        Heartless  user_000008    2119
3122272                         See You In My Nightmares  user_000008    2069
3093730                                     Say You Will  user_000008    2065
4162433           Welcome To Heartbreak (Feat. Kid Cudi)  user_000008    2059
2208337                                    Love Lockdown  user_000008    2059
723935                                    Coldest Winter  user_000008    2052
2735742                      Paranoid (Feat. Mr. Hudson)  user_000008    2051
219307                       Amazing (Feat. Young Jeezy)  user_000008    2049
2795301  Pinocchio Story (Freestyle Live From Singapore)  user_000008    2041
349071                                          Bad News  user_000008    2026
3006343                                          Robocop  user_000008    1893
3432815                                    Street Lights  user_000008    1865
1926323                                           Jolene  user_000949    1457
1516058                                       Heartbeats  user_000949    1443
4258122                                   Wings Of Words  user_000141    1438
3386503                               Staring At The Sun  user_000949    1410
3787385                                        The Swing  user_000949    1358
2028652                                        La Paloma  user_000068    1353
261457             Anthems For A Seventeen Year Old Girl  user_000949    1352
3374400                                  St. Ides Heaven  user_000949    1274

(4407919, 3)

            TraName  Cuantos_usuarios
454884        Intro               773
1000179     Wake Up               555
143290      Breathe               539
73589         Angel               535
398290         Home               534
981864     Untitled               534
659084          One               512
553243      Lullaby               511
452843    Interlude               486
945264         Time               483
425049   I Want You               481
185176       Closer               472
60938    All I Need               466
202927        Crazy               462
396524      Hold On               457
808583        Smile               456
323550      Forever               456
1064080  [Untitled]               455
818628    Sometimes               440
1048891         You               436

(1083480, 2)

# Pista  mas popular

In [ ]:
B=df2[df2['TraName'] == 'Intro'].groupby(['UserID','TraName']).size().reset_index(name = 'Conteo').sort_values(by = 'Conteo', ascending = False)
display (B.head(30))
print(B.shape)
print(len(B))

# Remueven Usuarios sin registro para alguna canción

# Se observa que la data de perifles de Usuario tiene 108 registros con datos de "NA" en gener, 706 en  Age, 85 en Country y 8 en  registered, lo que conlleva tomar la decision de evaluar si se eliminar estos registos.

In [126]:
pista_filtrado= ConteoPista.dropna()
display(pista_filtrado.shape) 
gusto_filtrado= Conteogusto.dropna()
display(gusto_filtrado.shape)

(4611771, 4)

(1083480, 2)

# Filtra en ConteoPista mayores de 20 y menores de 2000

# Filtra en Conteogusto mayores de 20

# Cuantos usuarios  escucho cada artista

# Cuantas veces  el usuario escucho cada artista

Se presenta la relación  de cuantas canciones ha escuchado cada usuario y cuantas veces

# Se presenta la relación  de cuantos usuarios ha escuchado una cancion y cuantas veces

# Para Calcular el rating de los  usuarios a los items  se implementan 3 metodotos: 
# Absolucto: correponde al numero  de veces que el usuario a escuchado una canción

In [143]:
ConteoPista=df2.groupby(['UserID','TraName']).size().reset_index(name = 'Conteo').sort_values(by = 'Conteo', ascending = False)
display (ConteoPista.head(20))
print(ConteoPista.shape)

              UserID                                          TraName  Conteo
32769    user_000008                                        Heartless    2119
33005    user_000008                         See You In My Nightmares    2069
32999    user_000008                                     Say You Will    2065
33130    user_000008           Welcome To Heartbreak (Feat. Kid Cudi)    2059
32861    user_000008                                    Love Lockdown    2059
32650    user_000008                                   Coldest Winter    2052
32942    user_000008                      Paranoid (Feat. Mr. Hudson)    2051
32587    user_000008                      Amazing (Feat. Young Jeezy)    2049
32948    user_000008  Pinocchio Story (Freestyle Live From Singapore)    2041
32601    user_000008                                         Bad News    2026
32988    user_000008                                          Robocop    1893
33042    user_000008                                    Street Lights    1865
4192924  user_000949                                           Jolene    1457
4192396  user_000949                                       Heartbeats    1443
621465   user_000141                                   Wings Of Words    1438
4194967  user_000949                               Staring At The Sun    1410
4195560  user_000949                                        The Swing    1358
311703   user_000068                                        La Paloma    1353
4190639  user_000949            Anthems For A Seventeen Year Old Girl    1352
4194945  user_000949                                  St. Ides Heaven    1274

(4407919, 3)

# Normalizado: Proporción  de la cantidad de veces que un usuario ha escuchado a  un artista con respecto al número total de artistas escuchados  por el usuario. Para dar cuenta del uso del sistema por parte de un usuario.

In [ ]:

ConteoArtista=df2.groupby(['UserID','ArtID']).size().reset_index(name = 'Numero_veces_artista').sort_values(by = 'UserID', ascending = False)
ConteoArtista1=ConteoArtista.groupby(['UserID']).size().reset_index(name = 'Numero_artistas').sort_values(by = 'UserID', ascending = False)
#display (ConteoArtista1.head(20))
#print(ConteoArtista1.shape)
ConteoArtista.merge(ConteoArtista1, how='left',on=['UserID'])
display (ConteoArtista.head(20))
print(ConteoArtista.shape)


#group_keys
#Normalizado = df2.groupby(group_keys)['SponsorName'].transform('size')
#df2['Rating'] = df2['Numero_veces_artista'] / ConteoArtista['Numero_artistas']
ConteoArtista['Rating_artista']= df2['ArtID'].mean()

#ConteoArtista.groupby(['UserID']).size().reset_index(name = 'Numero_artistas').sort_values(by = 'UserID', ascending = False)
#display (ConteoArtista1.head(20))
#print(ConteoArtista1.shape)
print(ConteoArtista.shape)


#Normalizado= ConteoArtista [ 'Numero_veces_artista']/ConteoArtista1['Numero_artistas']
# Normalizado= df2.groupby(['UserID','ArtID']).size().reset_index(name = 'Numero_veces_artista').sort_values(by = 'UserID', ascending = False)/ConteoArtista.groupby(['UserID']).size().reset_index(name = 'Numero_artistas').sort_values(by = 'UserID', ascending = False) 
#display (Normalizado.head())
#faltaria hacer la division y unir el dataset

In [157]:
B=df2[df2['ArtID'] == '164f0d73-1234-4e2c-8743-d77bf2191051'].groupby(['UserID']).size().reset_index(name = 'Conteo').sort_values(by = 'Conteo', ascending = False)
display (B.head(30))
print(B.shape)
print(len(B))

C=df2[df2['UserID'] == 'user_000774'].groupby(['ArtID']).size().reset_index(name = 'Conteo').sort_values(by = 'Conteo', ascending = False)
display (C.head(30))
print(C.shape)
print(len(C))

          UserID  Conteo
5    user_000008   26496
146  user_000400     878
262  user_000737     853
119  user_000329     815
165  user_000458     808
241  user_000685     698
126  user_000348     673
102  user_000273     521
209  user_000601     518
178  user_000493     385
72   user_000187     381
254  user_000714     351
194  user_000544     346
50   user_000123     337
284  user_000787     316
176  user_000488     303
112  user_000309     302
302  user_000837     302
304  user_000842     293
216  user_000610     276
89   user_000249     275
279  user_000771     255
127  user_000351     251
16   user_000028     247
37   user_000084     246
233  user_000661     233
169  user_000474     220
205  user_000590     216
296  user_000820     206
49   user_000122     203

(355, 2)
355

                                     ArtID  Conteo
6001  c53eb6d9-6dc9-44c0-9d98-9e1f3dde2bfc    1765
7357  f1571db1-c672-4a54-a2cf-aaa329f26f0b    1021
4825  9ccfbc94-a4f4-42f7-b6f5-d903ab77cccb     970
5871  c0eee88b-47f2-4cd2-ac48-a045e902a432     902
163   057aa66c-cf6e-499d-bda8-5adc47ad4197     697
5434  b15ebd71-a252-417d-9e1c-3e6863da68f8     651
4687  98a35a4d-a845-4282-bc7c-5679f2bb9bd2     607
6269  cdd2e0f0-703d-454d-b5c7-cc3bb6dd5552     387
3150  66fc5bf8-daa4-4241-b378-9bc9077939d2     369
959   1f43d76f-8edf-44f6-aaf1-b65f05ad9402     324
7788  ff95eb47-41c4-4f7f-a104-cdc30f02e872     319
531   11ae9fbb-f3d7-4a47-936f-4c0a04d3b3b5     309
3826  7dc8f5bd-9d0b-4087-9f73-dc164950bbd8     285
5955  c3aeb863-7b26-4388-94e8-5a240f2be21b     277
945   1ecbc7e5-6e33-4062-997d-abc550dd63e6     276
454   0f82d6b5-12fb-4569-b047-a00194f572a7     276
5147  a74b1b7f-71a5-4011-9441-d0b5e4122711     243
3860  7ec4a553-73e5-4c0d-a071-a82b83a309e6     243
6857  e20747e7-55a4-452e-8766-7b985585082d     241
5593  b6b2bb8d-54a9-491f-9607-7b546023b433     237
993   20883363-1ea4-4d72-ad72-c0e767038f3e     224
4658  978a36f7-85c6-44ca-a02e-7564e8fa8284     215
7560  f7ccd53a-234c-4800-8d1b-21b201bad1de     209
4310  8bfac288-ccc5-448d-9573-c33ea2aa5c30     206
211   078a9376-3c04-4280-b7d7-b20e158f345d     205
4154  87c5dedd-371d-4a53-9f7f-80522fb7f3cb     201
2380  4db46226-630f-4870-a634-88e7d7bdf381     199
3996  83237b6a-be97-4fdb-ba53-bc979721987f     199
4171  882d41ca-194d-405a-bfc5-b698ccfd77b4     197
1206  277e21a9-2d64-452d-96c4-2d23a7af5891     189

(7809, 2)
7809

# Log: es similar a la medida absoluta, excepto que  la preferencia se calcula como el logaritmo en  la base 10 del artista, conteopista  o conteogusto.

In [1]:
ConteoPista=df2.groupby(['UserID','TraName']).size().reset_index(name = 'Conteo').sort_values(by = 'Conteo', ascending = False)
ConteoPista['Loga'] = df2.Conteo.apply(log)
display (ConteoPista.head(20))
print(ConteoPista.shape)

NameError: name 'df2' is not defined

In [60]:
items = df2[['TraName','TraId','ArtID','ArtName']].drop_duplicates(['TraName','TraId','ArtID','ArtName']).reset_index(drop = True)
print(items.shape)

(1503593, 4)

In [61]:
items = items.assign(Id_Track = range(1, len(items)+1))

In [62]:
items.drop(columns = ['Id']).head(20)

KeyError: "['Id'] not found in axis"

In [67]:
### dataset item,user,rating
### item, descripcion
### user, name, email
1+2

3

In [108]:
####
reader = Reader( rating_scale = ( 1, 5 ) )
#Se crea el dataset a partir del dataframe
surprise_dataset = Dataset.load_from_df( ratings[ [ 'user_id', 'item_id', 'rating' ] ], reader )
train_set, test_set=  train_test_split(surprise_dataset, test_size=.2)

NameError: name 'Reader' is not defined